sydubois <sylvain.dubois25@hotmail.fr>
sydubois <sydubois@42.com>
raphalme <raphael.ferreira@ik.me>
raphalme <raphystoll@zenithiac.ch>
scuthber <blueton23@gmail.com>
scuthber <sebastiencuthbert@Sebastiens-MacBook-Pro.local>
scuthber <blueton23@gmail.com>
scuthber <scuthber@student.42lausanne.ch>